@import 'random';

$website_margins: 60px;
$website_main_colour: #2d2b2c;
$top_bar_colour: #FFFFFF;
$link_colour: #37aa35;
$title_font: 'Oswald', sans-serif;
$normal_font: 'Open Sans';

html {
	width: 100%;
	font-family: $normal_font;
}

/* General Style Rules */

.inner_div {
	width: 960px;
	margin: 0 auto;
}

.last {
	margin-right: 0!important;
}

.bottom {
	margin-bottom: 0!important;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* Column Styling */

.col1 {
	width: 80px;
}

.col2 {
	width: 160px;
}

.col3 {
	width: 240px;
}

.col4 {
	width: 320px;
}

.col5 {
	width: 400px;
}

.col6 {
	width: 480px;
}

.col7 {
	width: 560px;
}

.col8 {
	width: 620px;
}

/* Titles etc */

.page_title {
	font-size: 2em;
	padding: 10px 0px 20px 0px;
}

/* Mixins */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin border-bottom-block {
	padding-bottom: 30px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 20px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin ghostVerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}

/* Define fonts */

h1 {
	font-family: $title_font;
	@include font-size(25px);
	margin: 0;
	padding: 0;
}

a {
	color: $link_colour;
	text-decoration: none;
}

p {
	line-height: 1.4;
}


.top_bar_mobile_nav {
	display: none;
}

.top_bar {

	background: $website_main_colour;
	color: $top_bar_colour;
	padding-top: 10px;
	font-family: $title_font;

	&_menu_button {
		display: none;
	}

	&_left {
		width: 20%;
		padding-top: 15px;
	}

	&_right {
		width: 70%;
		text-align: right;
		&_contact {
			text-align: right;
			padding-bottom: 10px;
			a {
				color: $link_colour;
			}
		}

		ul {
			margin-bottom: .96em;
			li {
				display: inline;
				a {
					padding: .5em 1em 1em 1em;
					color: $top_bar_colour;
					text-transform: uppercase;
					&:hover {
						background: $link_colour;
					}
				}
				&.active a {
					background: $link_colour;
				}
			}
		}
	}
}

.banner {
	padding-bottom: 40px;
}

.home_page_content {
	color: #3a3a3a;
	.welcome_block {
		@include border-bottom-block;
		h1 {
			padding-bottom: 10px;
		}

		p {
			line-height: 1.2;
		}
	}
	.service_block {
		.service {
			width: 33%;
			@include border-bottom-block;
			.service_icon {
				width: 17%;
				img {
					width: 100%;
				}
			}
			.service_title {
				text-align: left;
				width: 80%;
				padding-top: 10px;
			}
			.service_desc {
				padding: 10px 20px 20px 0px;
				font-size: .8em;
			}
			.service_read_more a {
				font-family: $title_font;
				text-transform: uppercase;
			}
		}
	}
	.news_block {
		.news_item {
			width: 50%;
			padding-right: 50px;
			@include border-bottom-block;

			h1 {
				padding-bottom: 10px;
			}

			p {
				font-size: .8em;
				line-height: 1.7;
			}

			.read_more a {
				font-family: $title_font;
				text-transform: uppercase;
			}
		}
	}
	.client_block {
		@include border-bottom-block;
		.client_title {
			width: 10%;
			font-size: .9em;
			padding-top: 40px;
			font-weight: bold;
		}
		.client_right {
			width: 89%;
			.client_image {
				width: 12.5%;
			}
		}
	}

	.last_block {
		margin: 60px 0px;
		.company_quote {
			width: 47%;
			background: #f3f3f3;
			padding: 1.5%;
			color: #393939;
			.quote_content {
				font-size: .9em;
				line-height: 1.5;
				font-style: italic;
			}
			.quote_name {
				font-weight: bold;
				margin: 0;
				padding-bottom: 5px;
			}
		}
		.gallery_block {
			width: 53%;
			padding-left: 25px;
			h1 {
				margin-bottom: 10px;
				color: #3c3e3d;
			}
			.gallery_image {
				width: 23.5%;
				margin-right: 2%;
				margin-bottom: 2%;
				img {
					border: 1px solid #9f9c9b;
				}
			}
		}
	}
}

.main_footer {
	background: $website_main_colour;
	padding: 20px;
	color: $top_bar_colour;
	.social_block {
		h1 {
			color: #FFF;
			padding: 0;
			margin: 0;
		}
		ul {
			margin: 0; padding: 0;
			margin-top: 10px;
			li {
				width: 40px;
				height: 40px;
				margin-right: 10px;
			}
			.first_social {
				margin-right: 0;
			}
		}
	}
	.get_in_touch {
		text-align: right;
		h1 {
			color: #FFF;
			font-size: 1.1em;
			font-family: $normal_font;
		}

		p {
			font-size: .8em;
			padding-top: 22px;
		}
	}

	.contact_info {
		text-align: right;
		padding-top: 50px;
		p {
			font-size: .8em;
			margin: 0;
			padding: 5px 0px;
		}
	}
}

.bottom_footer_main {
	background: #000;
	color: #bebebe;
	padding: 10px 0px;
	font-size: .9em;
	a {
		color: #bebebe;
	}
	.bottom_nav {
		padding-top: 5px;
	}
	.copyright_info {
		text-align: right;
	}
}


/* BLOG PAGE */

.blog_page_content, .blog_full_page_content, .team_page_content, .services_page_content {

	.blog_list {
		margin-bottom: 25px;
		.blog_item {
			width: 32%;
			margin-right: 2%;
			margin-bottom: 20px;
			.blog_exerpt {
				h1 {
					padding: 10px 0px;
					font-size: 1.2em;
				}
				p {
					font-size: .8em;
					min-height: 110px;
				}
				.read_more_blog {
					padding: 7px 15px;
					background: $link_colour;
					color: #FFF;
					@include border-radius(3px);
					&:hover {
						background: #2A8228;
					}
				}
			}
		}
	}

	.last_block {
		padding: 50px 0px;
		border-top: 1px solid #e2e2e2;
		.company_quote {
			width: 47%;
			background: #f3f3f3;
			padding: 1.5%;
			color: #393939;
			.quote_content {
				@include font-size(16px);
				line-height: 1.5;
				font-style: italic;
			}
			.quote_name {
				font-weight: bold;
				margin: 0;
				padding-bottom: 5px;
			}
		}
		.gallery_block {
			width: 53%;
			padding-left: 25px;
			h1 {
				margin-bottom: 10px;
				color: #3c3e3d;
			}
			.gallery_image {
				width: 23.5%;
				margin-right: 2%;
				margin-bottom: 2%;
				img {
					border: 1px solid #9f9c9b;
				}
			}
		}
	}
}

/* Full blog page layout */

.full_blog_post {
	margin-bottom: 50px;
	.post_image {
		margin-bottom: 10px;
	}
	.post_info {
		font-style: italic;
		margin-bottom: 10px;
		font-size: .8em;
	}
	.post_content {
		font-family: 'Open Sans';
		color: #333;
	}
}

.blog_full_page_content {
	.last_block {
		display: none;
	}
}

/* Team Page Styling */

.team_page_content {
	.team_container {
		padding-bottom: 50px;
		.team_single {
			width: 23%;
			margin-right: 2%;
			.team_info {
				text-align: center;
				padding: 10px 0px;
				font-family: 'Open Sans';
				.team_name {
					font-weight: bold;
				}
				p {
					padding: 0;
					margin: 0;
					font-size: 1em;
				}
			}
		}
	}
}

.mobile_nav_margin {
	display: none;
}


/* Services Page */

.services_page_content {
	.service_paragraph {
		p {
			color: #353535;
			padding-bottom: 10px;
			font-size: 1em;
		}
		padding-bottom: 15px;
	}
	.service_block {
		margin-bottom: 40px;
		.service {
			width: 33%;
			margin-bottom: 10px;
			.service_icon {
				width: 17%;
				img {
					width: 100%;
				}
			}
			.service_title {
				text-align: left;
				width: 80%;
				padding-top: 10px;
			}
			.service_desc {
				padding: 10px 20px 20px 0px;
				font-size: .8em;
			}
			.service_read_more a {
				font-family: $title_font;
				text-transform: uppercase;
			}
		}
	}
}

/* Start mobile styling */

@import 'mobile';